rails:
  <<: *base
  build:
    context: .
    dockerfile: ./docker/dockerfiles/rails.Dockerfile
  image: chatwoot-rails:production
  volumes:
    - ./:/app:delegated
    - node_modules:/app/node_modules
    - packs:/app/public/packs
    - cache:/app/tmp/cache
    - bundle:/usr/local/bundle
    - ./log:/app/log            # â† add this line
  depends_on:
    - postgres
    - redis
    - vite
    - mailhog
    - sidekiq
  ports:
    - 3000:3000
  env_file: .env
  environment:
    - NODE_ENV=production
    - RAILS_ENV=production
    - REDIS_URL=redis://:@redis:6379/0
  entrypoint: docker/entrypoints/rails.sh
  command: ["bundle", "exec", "rails", "s", "-p", "3000", "-b", "0.0.0.0"]

sidekiq:
  <<: *base
  image: chatwoot-rails:production
  volumes:
    - ./:/app:delegated
    - node_modules:/app/node_modules
    - packs:/app/public/packs
    - cache:/app/tmp/cache
    - bundle:/usr/local/bundle
    - ./log:/app/log            # â† add this line
  depends_on:
    - postgres
    - redis
    - mailhog
  environment:
    - NODE_ENV=production
    - RAILS_ENV=production
    - REDIS_URL=redis://:@redis:6379/0
  command: ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]
